.this {
  padding: 20px;
  > * {
    margin: 0;
  }
  > h1 {
    margin-bottom: 20px;
  }
  textarea {
    margin-bottom: 20px;
    width: 100%;
    min-height: 250px;
    resize: vertical;
    padding: 20px;
  }
}
