.this {
  padding: 20px;
  > * {
    margin: 0;
  }
  > h1 {
    margin-bottom: 20px;
  }
  textarea {
    margin-bottom: 20px;
    width: 100%;
    min-height: 250px;
    resize: vertical;
    padding: 20px;
  }
}
.reviewRow {
  margin-bottom: 20px;
  > label {
    display: flex;
    margin: 0;
    > span {
      flex-shrink: 0;
      white-space: nowrap;
      line-height: 40px;
      margin-right: 10px;
    }
    > input {
      flex-grow: 1;
    }
  }
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p.yandexLink {
  margin-bottom: 2em;
  a {
    color: inherit;
    margin: 0 5px;
  }
}
