
.page {
  padding: 0;
  overflow-y: hidden;
  height: 100vh;
}

.graph {

  padding-bottom: 2em;
  line-height: 2em;

  display: flex;
  flex-direction: row;
  > div {
    position: relative;
    > div {
      // Columns
      overflow: hidden;

      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-end;
      height: calc( 100vh   - 4em);


      > div {
        // bar part
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
        width: 4em;

        > span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
        }
      }
    }

    > span {
      // time info
      font-size: 12px;
      position: absolute;
      left:0;
      right: 0;
      top: 100%;
      text-align: center;
    }
  }
}
//
//.statsBackground {
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  height: 100vh;
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-end;
//  >div{
//    position: absolute;
//    top: 0;
//    left: 0;
//    right: 0;
//    display: flex;
//    flex-direction: row-reverse;
//    justify-content: flex-end;
//    >span{
//      display: block;
//      height: 1em;
//
//    }
//  }
//}
