
*[status]{
  transition: background-color 0.2s;
}

*[status="6"]{
  background-color: hsl(200, 100%, 40%);
}
*[status="5"]{
  background-color:hsl(160, 100%, 40%);
}
*[status="4"]{
  background-color: hsl(120, 100%, 40%);
}
*[status="3"]{
  background-color: hsl(80, 100%, 45%);
}
*[status="2"]{
  background-color: hsl(40, 100%, 50%);
}
*[status="1"]{
  background-color:hsl(0, 80%, 50%);
}
*[status="0"]{
  background-color: hsl(0, 5%, 30%);
}