

*[status="8"]{
  background:#00330D;
}
*[status="7"]{
  background: #00660D;
}
*[status="6"]{
  background: #009908;
}
*[status="5"]{
  background: #03CC05;
}
*[status="4"]{
  background: #33EC1E;
}
*[status="3"]{
  background: #93FF2A;
}
*[status="2"]{
  background: #e1ea3b;
}
*[status="1"]{
  background: #eecf5e;
}
*[status="0"]{
  background: #C8C8C8;
}