.this{
>button{
  margin: 0 auto 80px auto;

}


}
.addButton{
  float: right;
}
table{
  margin-bottom: 40px;
  td{
    padding: 0;
  }
  input{ 
    &:not(:focus){
      border-color: transparent;
      background: transparent;
    }
  }

}

footer {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 20px;
   display: flex;
  justify-content: flex-end;
 }
footer:before{
  content:"";
  display: block;
  position: absolute;
  top: -40px;
  left:0;right:0;bottom: 0;
  background: linear-gradient(to bottom, #ffffff00,#ffffffff);
pointer-events: none;
}

footer button{
  position: relative;
}