.this{

  div[class="full-list"]{

   > label {
      line-height: 20px;
      padding:20px 20px;
    }
  }
}


footer {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 20px;
   display: flex;
  justify-content: flex-end;
  &:before{
    content:"";
    display: block;
    position: absolute;
    top: -40px;
    left:0;right:0;bottom: 0;
    background: linear-gradient(to bottom, #ffffff00,#ffffffff);
    pointer-events: none;
  }
  button,a{
    position: relative;
  }
 }
.word{
  height: 40px;
  position: relative;
  width: 100%;


  >div{
    position: absolute;
    width:50%;
    top: 0;
    &:first-child{
      left: 0;
    }
    &[min-step]{
      right: 0;
      top: 0;
      bottom: 0;
      width: 5px;
      pointer-events: none;
      opacity: 0.5;
      &[class="new"]{
        background: #333;
      }

      &[class="learning"]{
        background: orange;
      }
      &[class="known"]{
        background: green;
      }
      &[class="hot"]{
        background: red;
      }

    }
    &:last-child{
      left: 50%;
    }
    input{
      &:not(:focus){
        border-color: transparent;
        background: transparent;
      }
    }
  }
}

.suggestion{
  display: flex;
  align-items: center;
  >div{
    line-height: 20px;
    overflow: hidden;
    padding: 10px 20px;
    flex-grow: 1;
  }
  button{
    margin-right: 20px;
  }

}

form[manual-entry]{
  display: flex;
  align-items: center;
  input{
    flex-grow: 1;
    margin: 0 20px;
  }
  button{
    margin-right: 20px;
  }
}
div[welcome-message]{
  text-align: center;

  min-height: 80vh;
  i{
    font-size: 40px;
    margin: 40px 0;
    opacity: 0.4;
    line-height: 20px;
    animation: wiggle infinite 1s;
  }
  h1{
    font-weight: normal;
  }
}

@keyframes wiggle {
  0%{
    transform: translate(0,10px);
  }
  50%{
    transform: translate(0,0px);
  }
  100%{
     transform: translate(0,10px);
   }
}