

.searchBox{
  margin:0;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 1;
  

  input[type="text"]{
    border:none;
    line-height: 19px;
    border-bottom: 1px solid #dadada;
    border-radius: 0;
    padding: 10px 60px;
    font-size:20px;
  }
  >i[searchicon]{
    pointer-events: none;
    position: absolute;
    top:10px;
    left:20px;
    font-size: 20px;
    opacity: 0.5;
  }

  >i[clearicon]{
    position: absolute;
    top:0;
    right: 0;
    padding: 10px 20px;
    font-size: 20px;
    border:none;
    background: none;
  }
  &+*{
    margin-top: 40px;
  }
}