html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #FAFAFA;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  box-sizing: border-box;
}

label{
  font-weight: bold;
  font-size: 80%;
  display: block;
  line-height: 20px;
  margin-top: 20px;
}
input[type="text"]{
  display: block;
  font-size:14px;
  line-height: 20px;
  padding: 10px 20px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  font-family: inherit;
}

button{
  display: flex;
  padding: 0.5em 0.75em;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: bold;
  color: #666;
  background: white;
  border:1px solid #666;
  &.primary {
    color: white;
    border: none;
    background: #189ac1;
    box-shadow: 0 2px 0 #13566a;
    text-shadow: 0 0 16px #1d7c99;
  }

  &.float-bottom {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  &[disabled]{
    opacity: 0.5;
  }

}
h1{
  margin:10px 20px;
  &.centered {
    color: #666;
    font-weight: normal;
    text-align: center;
    strong{
      color:black;
      margin:0 0.2em
    }
  }

}