html,
body {
  height: 100%;
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0e232e;
}

* {
  box-sizing: border-box;
}

label {
  font-weight: bold;
  font-size: 80%;
  display: block;
  line-height: 20px;
  margin-top: 20px;
}
input[type="text"] {
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  border: 1px solid #dedede;
}

button,
a[class*="button"] {
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: bold;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: block;
  line-height: 20px;
  padding: 20px;
  color: inherit;
  min-width: 40px;
  background: none;
  &:active,
  &:hover {
    outline: none;
    background: rgba(0, 0, 0, 0.5);
  }

  &.float-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  &[disabled] {
    opacity: 0.3;
    pointer-events: none;
  }
}

i {
  padding: 0 10px;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}
